*{
    font-family: helvetica;
    background-color: #d3edf5;
}

.container{
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 50px 20px;

}
.container h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bold{
    font-weight: bold;
}

.header{
    text-align: center;
}

.titulo{
    font-size: 40px;
}

.paragrafo{
    font-style:italic; 
}

.imagem{
    text-align: center;
    margin-top: 30px;
}

.imagem img{
    max-width: 600px;
}

.biografia{
    padding: 25px 0;
    margin: 25px 0;
    border-bottom: 1px dashed #ddd;
    border-top: 1px dashed #ddd;
}

.quotes-container{
    background-color: #d3edf5;
    padding: 30px;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
    background-color: #d3edf5;

}

.quotes-container p{
    font-style: italic;
    background-color: #d3edf5;
}

.curiosidades-countainer{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
.curiosidades-countainer li{
    height: 30px;
}

.img-bold{
    font-weight: bold;
    text-align: center;

}

.moreinfo-container{
    padding: 10px;
}

@media screen and (max-width:600px) {
    .imagem img{
        max-width: 300px;
    }

    .quotes-container blockquote{
        font-weight: bold;
        font-size: 30px;
        background-color: #d3edf5;
        margin: 5px;
    }

    .curiosidades-countainer{
        padding: 15px 0;
        margin: 15px 0;
    }

    .curiosidades-countainer h2{
        
        padding: 15px;
    }

    .curiosidades-countainer li{
        height: 50px;
        padding: 10px;
    }

    
}